#header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header .navbar-brand {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #F97D26;
}

#header .navbar-brand .img-fluid {
    border-radius: 18px;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    padding-left: 18px;
    padding-right: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #7C7C7C;
}

#header .btn-login {
    width: 135px;
    height: 37.6px;
    background: #F97D26;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#header .btn-login .nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}