* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

/* Header */
#header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
    box-shadow: 0 0 10px 0 grey;
}

#header .navbar-brand {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #F97D26;
}

#header .navbar-brand .img-fluid {
    margin-right: 15px;
    border-radius: 18px;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    padding-left: 18px;
    padding-right: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #7C7C7C;
}

#header .btn-login {
    width: 135px;
    height: 37.6px;
    background: #F97D26;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#header .btn-login .nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
/* // Header */

/* Main Section */
#main-section {
    width: auto;
    margin: 5em;
}

#main-section #main-section-content h1 {
    padding-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 90px;
    color: #F8982C;
}

#main-section #main-section-content p {
    padding-right: 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;

    color: #7C7C7C;
}

#main-section #main-section-ilustration {
    text-align: center;
}

#main-section #main-section-vector {
    padding: 5em;
}

#main-section #main-section-content .btn {
    margin-top: 32px;
    width: 208px;
    height: 61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    background: #FDE5CA;
    border-radius: 10px;

    color: #F8982C;
}
/* // Main Section */

/* Companies Section */
#companies-section {
    width: 100%;
    
    padding: 3em 0;
    background: rgba(232, 232, 232, 0.2);
}

#companies-section #companies-content h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    color: #515151;
}

#companies-section #companies-content p {
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    margin: 1em 10em;
    color: #515151;
}
/* // Companies Section */

/* Products Section */
#product-section #product-title h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 94px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 30px;

    color: #F8982C;
}

#product-section .product-card {
    border-radius: 10px;
    width: 350px;
    height: 290px;
    margin: 1em auto;
    padding: 1.5em;
}

#product-section .product-card h4 {
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 55px;
}

#product-section .product-card img {
    float: right;
}

#product-section .product-card p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

#writing-card {
    border: 1px solid #BE49E8;
}
#writing-card h4{
    color: #BE49E8;
}

#graphic-card {
    border: 1px solid #5398E9;
}
#graphic-card h4{
    color: #5398E9;
}

#software-card {
    border: 1px solid #2BBC5D;
}
#software-card h4{
    color: #2BBC5D;
}
/* // Products Section */