@media (max-width: 991.98px) {
    /* Header Section */
    #header .navbar-collapse {
        width: 100%;            
    }

    #header .navbar-collapse .navbar-nav {
        width: 135px;
        text-align: center;
        margin: auto;
    }
    /* // Header Section */

    /* Companies Section */
    #companies-section #companies-content p {
        font-family: Roboto;
        font-style: normal;
        font-size: 20px;
        line-height: 27px;
        margin: 1em 5em;
        color: #515151;
    }
    /* // Companies Section */

    /* Products Section */
    #product-section .product-card {
        margin: 1em auto;
    }
    /* // Products Section */
}

@media (max-width: 768px) {
    #main-section #main-section-content {
        align-content: center;
        justify-self: center;
        text-align: center;
        margin-bottom: 7em;
    }

    #testemunials-section h2 {
        text-align: center;
    }
}


@media (max-width: 576px) {
    /* Header */
    #header .navbar-brand {
        font-size: 20px;
        margin: 0 1em;
    }

    #header .navbar-brand .img-fluid {
        width: 33px;
        height: 33px;
        border-radius: 14px;
    }
    /* // Header */

    /* Main Section */
    #main-section {
        margin: 5em 1em;
    }

    #main-section #main-section-content h1 {
        font-size: 60px;
        line-height: 70px;    
        text-align: left;    
    }

    #main-section #main-section-content p {        
        font-size: 22px;
        line-height: 32px;    
        text-align: left; 
    }

    #main-section #main-section-content .btn {
        height: 50px;
        width: 170px;
        font-size: 25px;
        align-items: center;
    }

    #main-section #main-section-ilustration {
        display: none;
    }

    #main-section #main-section-vector {
        display: none;
    }
    /* // Main Section */

    #companies-section #companies-content h1 {
        font-size: 33px;
        line-height: 30px;
    }

    #companies-section #companies-content p {
        margin: 1em 1em;
        line-height: 30px;
    }

    /* Products Section */
    #product-section {
        padding: 0 3em;
    }

    #product-section #product-title h1   {
        font-size: 50px;
        text-align: right;
        line-height: 50px;
    }
    /* // Products Section */
    
    #testemunials-section {
        padding: 0 3em;
    }

    #testemunials-section h2 {
        font-size: 44px;
        margin: 1em auto;
    }

    #testemunials-section .group-card {
        margin: 2em auto;    
    }

    #footer #footer-title {
        text-align: center; 
    }

    #footer #footer-logo {
        width: 180px;
        height: 180px;
        margin: 3em auto;
    }

    #footer #footer-contact {
        text-align: center;
    }
}